{% extends "base.html.twig" %}
    {% block title %}Liste des joueurs{% endblock %}

    {% block body %}
    <h1>Liste des joueurs</h1>

    {% for player in players %}

        <p>Le joueur n°{{ player.id }} s'appelle {{ player.name }}</p>
        
    {% endfor %}

    {% endblock %}