{% extends "base.html.twig" %}
    {% block title %}SIO Game{% endblock %}

    {% block body %}
    <h1>Bienvenue dans le jeu</h1>
    <p>Profitez de votre aventure !</p>
    <p>Votre message : {{information}}</p>
    {% endblock %}
    
